@import colors
@import "graphs/colors.sass"

.ui.board
  padding: 0
  height: 100%
  background: rgb(245, 247, 246)
  .react-grid-item.react-grid-placeholder
    background: #ccc
    border-radius: 3px
  .react-grid-layout
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  > .ui.top.menu
    background: none
    border: 0
    box-shadow: none
    padding-bottom: 20px
    > div > .item:first-child
      margin-left: -15px
      padding-left: 15px

    .item
      padding-top: 15px
      flex-direction: column
      align-items: flex-start
      &:before
        width: 0
      label
        display: block
        color: #a9abaa
      .value
        display: block
        color: #696969
        font-weight: bold
        font-size: 16px

  .ui.cards > .card
    box-shadow: none !important
    color: #596770
    margin: 0
    background: none
    box-shadow: none
    .card
      display: flex !important
      flex-grow: 1
      width: 100%
      > *
        flex: 1
    .ui.top.mini.menu
      .header
        color: $grey
    > div
      display: flex
      flex-direction: column
      align-items: stretch
      height: 100%
      overflow: hidden
      > .ui.top.menu
        border: 0
        box-shadow: none
        background: none
        min-height: 28px
        max-height: 28px
        cursor: move
        margin: 0
        display: flex
        > .item
          color: #02a7a1
          padding: 5px 10px
          height: 25px
          width: 30px
          font-size: 15px
          visibility: hidden
          align-self: end
          &:before
            width: 0
        > .ui.header
          text-transform: uppercase
          vertical-align: middle
          padding: 8px 0px 8px 15px
          font-weight: normal
          font-size: 12px
          margin: 0
          min-width: calc( 100% - 60px )
      > div:nth-child(2)
        flex-grow: 1
        position: relative
      > div.card
        background: white
        border: 1px solid #eaeeed !important
        border-radius: 6px !important
        overflow: hidden
        display: flex !important
        flex-direction: column
        flex-grow: 1

        -webkit-user-select: text
        -moz-user-select: text
        -ms-user-select: text
        user-select: text
        .content
          height: 100%
        +background-colors-with-text
        .inverted.icon
          background-color: white !important
          +text-colors-important

        &.no
          background: none
          border: 0
    .cards
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      > .card
        max-width: 282px
        width: 282px
        max-height: 135px
        height: 135px
        margin: 0px 0px 28px 0px
        border: 1px solid #eaeeed
        box-shadow: none
        border-radius: 6px
        overflow: hidden
        background: white


      .content
        padding: 5px

      .background0
        background: $color0
      .background1
        background: $color1
      .background2
        background: $color2
      .background3
        background: $color3
      .background4
        background: $color4
    .react-resizable-handle
      visibility: hidden
    &:hover
      > div > .ui.top.menu > .item
        visibility: visible
      .react-resizable-handle
        visibility: visible

  .plugin.error
    display: flex
    flex-direction: column
    align-self: center
    justify-content: center
    text-align: center
    padding: 1em


.ui.main.area .ui.central.with.menu .ui.board .ui.cards > .ui.card .active.dimmer
      position: relative
      top: 100px !important
      left: 0px !important
      width: 100%
      height: 100%

$cellsize: 20px
