.cards .card
  h2.ui.header
    margin: 0
    text-transform: none
  .ui.bottom.attached.menu.inverted
    .right.menu
      vertical-align: middle
    .item
      color: white
      a
        color: white
