.ui.login.background
  height: 100vh

  .ui.serverboards.logo
    display: block
    padding-top: calc( 25vh - 100px )
    margin: auto
    max-width: 100vw
    width: 250px
    @media (max-width: 600px)
      margin: 8% 0 0
      width: 100vw
  .ui.button
    .icon.spinner.loading
      background: none

  .modal
    background: white
    .header
      border-bottom: 0
      background: none
    .huge.header
      font-size: 36px
    .actions
      border-top: 0
      background: white
      margin-bottom: 2em
      background: none
    .content
      background: none
    .centered.actions
      text-align: center
    .wide.button
      min-width: 15em
