@import colors

div.ui.logoicon
  display: flex
  align-items: center
  justify-content: center
  font-size: 27px
  color: black
  background: #22a397
  width: 50px
  height: 50px
  text-align: center
  border-radius: 15px
  color: white
  margin: auto
  margin-bottom: 5px

  +background-colors-hover

  &.slim
    background: none !important
    border: 1px solid white
    border-radius: 5px
    color: white

ui.imageicon.tiny
  max-height: 80px !important
  max-width: 80px !important
  height: 80px !important
  width: 80px !important
  overflow: hidden

.active div.ui.logoicon.slim
  background: white !important
  color: #22a397 !important


.center.aligned
  .ui.logoicon
    margin: auto
