.ui.modal
  &.background
    display: block
    position: fixed
    width: 100vw
    height: 100vh
    background: rgba(0,0,0, 0.7)
    top: 0
    left: 0
    margin: 0

  > .ui.top.menu
    position: absolute
    display: block
    height: 50px
    background: white
    width: 100vw
    border-radius: 0
    top: 0
    left: 0
    border: 0
    box-shadow: 1px 2px 2px rgba(34,36,38,.15)
    z-index: 1
    a
      cursor: pointer
    .right.aligned
      float: right
      padding: 10px 10px
      color: black
    img.logo
      max-height: 50px
      width: 230px
      padding: 5px
  > .content
    position: absolute
    overflow: auto
    height: calc( 100vh - 50px )
    background: white
    right: 0
    top: 50px
    width: calc( 100vw - 300px ) !important
    border-top: 1px solid #ddd
    > .content
      max-width: 600px
      margin: auto

      .header
        color: black
      > .actions
        padding-top: 30px
        > .button
          margin-left: 0
