.ui.round.pane
  height: 100%
  border-radius: 4px
  border: 1px solid #eee
  display: flex
  flex-direction: column
  .extend
    flex-grow: 1
    display: flex
    flex-direction: column

  .ui.attached.top.form
    border-bottom: 1px solid #eee
    padding: 1em
    font-size: 1.2em
    .ui.input
      width: calc( 100% - 2em)
      display: flex
      flex-direction: row
      align-items: baseline
    .seamless.white.input input
      background: white
      color: black
      border: 0
      padding: 0 1em 0 1em

  .ui.fill.area
    width: 100%
    flex-grow: 1
  textarea.ui.fill.area
    border: 0
    background: none
    padding: 1em
