.ui.split.area
  display: flex
  align-items: stretch
  &.horizontal
    flex-flow: row
    height: 100%
  &.vertical
    width: 100%
    flex-flow: column
    width: 100%

  &.expand, > .expand
    height: 100%
    width: 100%
    flex-grow: 1
    > .ui.central
      display: flex
      flex-direction: column
      align-items: stretch
      flex-grow: 1

  &.with.scroll, > .with.scroll
    overflow: auto
    position: relative
  &.padding, > .padding
    padding: 1em
