@import  serverboards

.ui.top.fixed.menu
  @extend .serverboards.background.horizontal

  .micro.label
    font-size: 6px

  > .item, > .menu > .item
    color: white
    max-height: 45px
    &:before
      width: 0
      height: 0

  .item:before
    width: 0
    height: 0

  > .item.logo
    padding: 0 20px
    img
      height: 40px

  > .item.search
    flex-grow: 1
    padding-right: 0
    .ui.input
      .prompt
        background: #555
      .icon
        pointer-events: auto
        &:hover
          cursor: pointer
    > div.menu
      display: flex
      flex-direction: row
      width: 100%
      .hidden
        display: none

    .icon.input, input, .ui.search
      flex-grow: 1
      width: 100%

  #notifications_menu
    width: 600px
    padding: 0
    .item
      flex-direction: column
      align-items: flex-start
      border: 0
      border-bottom: 1px solid #eee
      h5
        margin: 3px 0
      .ui.basic.plain.label
        background: rgba(0, 0, 0, 0) !important
        box-shadow: none
