.ui.top.fixed.menu
  .item:before
    width: 0
    height: 0

  .item
    max-height: 45px

  .item.logo
    padding: 0 20px
    img
      height: 40px

  .item.search
    flex-grow: 2
    .icon.input, input, .ui.search
      width: 100%
